# Data Frame

El objeto Data Frame de pandas extiende las posibilidades del objeto Series a dos dimensiones. Data Frame integra múltiples series en un único objeto con un único índice. Data Frame se puede asimilar a una hoja de cáĺculos, aunque esta similitud es limitada, ya que Data Frame es mucho más versátil para el análisis de datos que una hoja de cálculos.

## Creando un Data Frame de cero

In [1]:
import numpy as np
import pandas as pd

Hay varias maneras de crear un Data Frame. Quizá la más sencilla sea hacerlo a partir de una lista de listas

In [2]:
pd.DataFrame([[2, 3],[10, 12]])

    0   1
0   2   3
1  10  12

Vemos como cada lista interior forma una columna del Data Frame y tanto los índices que indican las filas como las etiquetas que nombran las columnas se generaron automáticamente.

Un Data Frame puede crearse a partir de una lista de series:

In [4]:
df1 = pd.DataFrame([pd.Series([1,2,3,4]), pd.Series([5,6,7,8])])
df1

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

Las dimensiones de un `DataFrame` pueden determinarse a partir de la propiedad `.shape`. Un `DataFrame` es siempre bidimensional. El primer valor nos informa el número de filas y el segundo el número de columnas:

In [5]:
df1.shape

(2, 4)

Las columnas se pueden especificar en el momento de la creación:

In [7]:
df2 = pd.DataFrame([[1, 2], [3, 4]], columns=['a', 'b'])
df2

   a  b
0  1  2
1  3  4

Podemos conocer el nombre de las columnas usando la propiedad `.columns`:

In [8]:
df2.columns

Index([u'a', u'b'], dtype='object')

Se pueden renombrar las columnas modificando sus nombres a través de la propiedad `.columns`:

In [9]:
df2.columns = ['c1', 'c2']
df2

   c1  c2
0   1   2
1   3   4

Se puede crear un DataFrame dando tanto los nombres de las columnas como los índices.

In [11]:
df3 = pd.DataFrame([[0,1],[2,3]], columns=['col1','col2'], index=['ind1', 'ind2'])
df3

      col1  col2
ind1     0     1
ind2     2     3