# Modificar la  estructura de un DataFrame

La estructura de un DataFrame se puede modificar de varias formas, las filas y las columnas se pueden eliminar o agregar y los datos contenidos en ellas se puede modificar para que tomen nuevos valores. veremos algunas formas de hacerlo a continuación.

Para comenzar leeremos nuestro archivo de datos de ejemplo:

In [1]:
import numpy as np
import pandas as pd

dens = pd.read_csv("data/superficiedens2013.csv", sep=";", encoding="latin")
dens.head()

,Dte,Barris,Poblacio,Superficie(ha),Densitat(hab/ha),DensitatNeta(hab/ha)
0,NaN,NaN,NaN,NaN,NaN,NaN
1,BARCELONA,NaN,1.611.822,10.234,157,625
2,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1. el Raval,48.800,110.000,444,983
4,1,2. el Barri Gòtic,16.267,84.000,193,477

## Renombrar columnas

Para cambiar el nombre de una columna usamos el método `.rename()`.

In [4]:
# cambiamos el nombre de la primera columna de Dte a Districte
dens1 = dens.rename(columns={'Dte': 'Districte'})
# imprimimos las dos primeras filas
dens1[:2]

,Districte,Barris,Poblacio,Superficie(ha),Densitat(hab/ha),DensitatNeta(hab/ha)
0,NaN,NaN,NaN,NaN,NaN,NaN
1,BARCELONA,NaN,1.611.822,10.234,157,625

El DataFrame original no se modifica:

In [5]:
dens[:2]

,Dte,Barris,Poblacio,Superficie(ha),Densitat(hab/ha),DensitatNeta(hab/ha)
0,NaN,NaN,NaN,NaN,NaN,NaN
1,BARCELONA,NaN,1.611.822,10.234,157,625

Para cambiar el nombre de la columna sin hacer una copia debemos utilizar la propiedad `inplace` como se ve a continuación:

In [6]:
dens.rename(columns={'Dte': 'Districte'}, inplace=True)
dens[:2]

,Districte,Barris,Poblacio,Superficie(ha),Densitat(hab/ha),DensitatNeta(hab/ha)
0,NaN,NaN,NaN,NaN,NaN,NaN
1,BARCELONA,NaN,1.611.822,10.234,157,625

## Agregar e insertar columnas