# Series temporales

Una serie temporal o cronológica es una secuencia de datos, observaciones o valores medidos en diferentes instantes de tiempo y ordenados cronológicamente. Los datos no tienen por qué estar espaciados en intervalos de tiempos iguales. nosotros trabajaremos con series temporales utilizando el objeto `Series` de la biblioteca `pandas`.

Para poder trabajar con el objeto `Series`, primero debemos importar `pandas`. Junto con `pandas` importaremos también el módulo `NumPy` que se encarga de trabajar con vectores (arrays), que es muy utilizado por `pandas`. Siempre que trabajemos con `pandas` deberemos empezar impoprtando estos módulos:

In [1]:
# importación de Numpy y pandas
import numpy as np
import pandas as pd

## Crear Series

In [2]:
# creamos una serie de un sólo elemento
s1 = pd.Series(2)
s1

0    2
dtype: int64

Cuando imprimimos la serie `s1` vemos que se imprimen 2 valores. El valor 0 es el índice del elemento cuyo valor es 2. Si queremos obtener el elemento correspondiente al índice 0 lo hacemos:

In [3]:
# obtenemos el valor del índice 0
s1[0]

2

El siguiente ejemplo muestra como crear una serie con múltiples elementos a partir de una lista:

In [4]:
# crear una serie con múltiples elementos a partir de una lista
s2 = pd.Series([1, 2, 3, 4, 5])
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

Como no hemos especificado los índices en el momento de crear la serie, `pandas` los creo por nosotros, empezando en cero y de manera secuencial.

Podemos obtener los valores de la serie haciendo:

In [5]:
# obtenemos los valores en la serie s2
s2.values

array([1, 2, 3, 4, 5])

También podemos obtener los índices

In [7]:
# obtenemos los índices de la serie s2
s2.index

Int64Index([0, 1, 2, 3, 4], dtype='int64')

Podemos crear una serie indicando nosotros los índices:

In [9]:
# crear índices explícitamente en una serie
# los índices son letras en lugar de enteros
s3 = pd.Series([1, 2, 3], index = ['a', 'b', 'c'])
s3

a    1
b    2
c    3
dtype: int64

In [10]:
s3.index

Index([u'a', u'b', u'c'], dtype='object')

In [11]:
s3['c']

3

> **Actividad:**
>Crea una serie que contenga como índices los nombres de los tres compañeros que tengas más cerca y como valores el número de hermanos/as que tenga.

También podemos crear una serie a aprtir de un diccionario.

In [12]:
# crear una serie de números de teléfonos partir de un diccionario
s4 = pd.Series({'Joan': 600543721, 'Andrea': 567876543, 'Pol': 890765476, 'Anna': 567409865})
s4

Andrea    567876543
Anna      567409865
Joan      600543721
Pol       890765476
dtype: int64

Podemos localizar el número de teléfono de Anna usando:

In [13]:
s4['Anna']

567409865